.header {
  background-color: #222;
  height: 70px;
  padding: 10px;
}

.header .header-logo {
  height: 50px;
  float: left;
}

.header .login {
  float: right;
  position: relative;
  top : 10px;
}

.header .login input {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin: 0 5px;
}