/* Button class */

.button {
    position: relative;
    color: black;
    padding: 3px 7px 3px 7px;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica;
    border: 1px solid #9A9A9A;
    border-radius: 1.5px;
    background-image: linear-gradient(0, #DEDEDE, #EDEDED, #EDEDED, #EDEDED, #FFF);
    box-shadow: 2px 2px black;
    max-width: 210px;
    margin: 20px;
}

.button:active {
    background-image: linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
    box-shadow: none;
    top : 0;
    left: 5px;
}

.button:hover {
    border: 1px solid #555;
    cursor: default;
}

/* Button class with input state */
/* Inherit from button and adapted to checkbox css */

input[type=checkbox].button  {
    margin: 0;
    padding: 2px 7px;
    top : 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type=checkbox].button:checked  {
    background-image: linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
    border: 1px solid green;
    color : green;
}

/*input[type=checkbox].button:after*/
input[type=checkbox].button:before {
    /* Add content with css : here text but can be icons ;) */
    content : 'hello';
}


/* Button class with input state and custom design*/

input[type=checkbox].button.pretty-button {
    font-family: Arial;
    text-transform: uppercase;
    background: white;
    color : #004085;
    border: 1px solid #004085;
    border-radius: 3px;
    padding: 4px 7px;
    cursor: pointer;
    opacity: 0.8;
}

input[type=checkbox].button.pretty-button:hover {
    background: #C3E6FE;
}

input[type=checkbox].button.pretty-button:checked  {
    background: #C3E6FE;
}