.card {
    width: 57.15mm;
    height: 88.9mm;
    border: 1px solid black;
    border-radius: 5px;

    left: 10px; 
    top : 10px;
    position: relative;

    padding: 2mm;

    float: left;
    margin: 10px;

    background: white;
}

.card .content {
    border-radius: 5px;
    height: calc(100%);
    width: calc(100%);
}

.card .content.back {
    background-color: #E02633;
}

.card .content.front {
    background-color: white;
}

.card .value {
    padding: 0 10px;
    font-size: 1.8em;
}

.card .value.left-top {
    position: absolute;
    top : 0;
    left: 0;
}


.card .value.right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}


.card .value.center {
    position: absolute;
    font-size: 6em;
    top: 30%;
    text-align: center;
    width: 90%;
}